// custom and new variables

//font
$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif !default;

// btn
$btn-default-color: white;
$btn-default-bg: transparent;
$btn-default-border:white;




// navbar
$navbar:#1d2126;
$navbar-default-link-color: white;
$navbar-default-link-hover-color:#23b7a4;


// thumbnail
$thumbnail-padding:0px;

//** Thumbnail background color
$thumbnail-bg:#e1e6ea;
